@{
    <p>@Pizzabox.Domain.Models.SessionInfo.CurrentOrder.Location.Id</p>
//    <p>@Pizzabox.Domain.Models.SessionInfo.CurrentOrder.Location.Address.City</p>
//    <p>@Pizzabox.Domain.Models.SessionInfo.CurrentOrder.Location.Address.Street</p>
}