<form action="/Location/Create" method="post">
    <fieldset name="province">
        <label for="province">Province</label>
        <select id="province" name="province">
            <option value="Texas">Texas</option>
            <option value="Arkansas">Arkansas</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Louisiana">Louisiana</option>
        </select>
    </fieldset>
    <label for="city">City</label>
    <input type="text" id="city" name="city">
    <label for="street">Street</label>
    <input type="text" id="street" name="street">

    <button type="submit">Create Location</button>
</form>