@{
    <p>@Pizzabox.Domain.Models.SessionInfo.CurrentUser.Name.FirstName</p>
    <p>@Pizzabox.Domain.Models.SessionInfo.CurrentUser.Name.LastName</p>
    <p>@Pizzabox.Domain.Models.SessionInfo.CurrentUser.LoginInfo.Email</p>
}